@background-color: lightblue;
@text-color: #1A237E;
@h1-color: blue;
@h2-color: green;

p{
	background-color: @background-color;
  	color: @text-color;
  	padding: 15px;
  	font-size: 20px;
}

h1{
	color: @h1-color;
	width:50%; 
	margin: 0 auto;
}

h2{
	color: @h2-color;
	width:50%; 
	margin: 0 auto;
	filter: blur(1px);
	margin-bottom: 20px;
}

textarea{
	width:200px; 
	height:50px; 
	padding: 15px;
}

#inner-div{
	width:50%; 
	margin: 0 auto;
}